body {
    height: 100vh;
    overflow: hidden;
    background-color: #3d4347;
}

div.container {
    width: 100vw;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 600px) {
    .name {
        display: block;
        margin-left: 25;
        margin-right: 25;
        padding-top: 10px;
    }
}

@media screen and (min-width: 601px) {
    .name {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }
}

.icon {
    /* display:inline-block;  */
    margin: 15px;
    font-size:xx-large;
    color: white;
}

.icon-row {
    display: flex;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
}

